<!DOCTYPE html>
<html>

<head>
    <title>Show Product</title>
</head>

<body>
    <h1>Show Product</h1>
    <h1>
        <%= product.name %>
    </h1>

    <p>Category: <%= product.category_name %>
    </p>
    <p>Price: <%= product.price %>
    </p>
    <p>Token: <%= product.token %>
    </p>

    <img src="<%= product.image %>" alt="product image" width="100px">

    <form action="/charge" method="POST">
        <input type="hidden" name="productId" value="<%= product._id %>">
        <input type="hidden" name="stripeToken" value="">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_51MjJp2DgazLEDsewryLztA5IxrOHUQtqVqtYq345FGuP6Qehb1pySw3xS1yc39ZVNzsnPxIausAFDHxF1PYQjeAP00PFdldIRu"
            data-amount="<%= product.price * 100 %>" data-name="<%= product.name %>"
            data-description="<%= product.description %>" data-image="<%= product.imageUrl %>" data-currency="usd">
            </script>
    </form>

</body>

</html>