<!DOCTYPE html>
<html>

<head>
    <title>Show Product</title>
</head>

<body>
    <h1>Show Product</h1>
    <h1>
        <%= product.name %>
    </h1>

    <p>Category: <%= product.category_name %>
    </p>
    <p>Price: <%= product.price %>
    </p>
    <p>Token: <%= product.token %>
    </p>

    <img src="<%= product.image %>" alt="product image" width="100px">

    <form action="/charge" method="POST" id="payment-form">
        <input type="hidden" name="productId" value="<%= product.id %>">
        <input type="hidden" name="stripeToken" id="stripeToken" value="">
        <button type="button" onclick="stripeHandler.open({
          name: '<%= product.name %>',
          description: '<%= product.description %>',
          amount: <%= product.price * 100 %>
        })">Paga <%= product.price %> €</button>
    </form>


</body>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var stripeHandler = StripeCheckout.configure({
        key: 'sk_test_51MjJp2DgazLEDsewHecS2NUeETt5E1fCCKJ23pWGnRgSYreJ6T1F28djVQZ2D9OaA7DAuuiBbKszUGmAVElK5lF400UIoukbWY', // sostituisci con la tua chiave pubblica
        locale: 'auto',
        token: function (token) {
            // Aggiungi il token come valore dell'input "stripeToken" del form
            document.getElementById('stripeToken').value = token.id;
            // Invia il form per effettuare il pagamento
            document.getElementById('payment-form').submit();
        }
    });
</script>


</html>