<!DOCTYPE html>
<html>

<head>
    <title>Show Product</title>
</head>

<body>
    <h1>Show Product</h1>
    <h1>
        <%= product.name %>
    </h1>

    <p>Category: <%= product.category_name %></p>
    <p>Category: <%= product.price %></p>
    <p>Category: <%= product.token %></p>

    <img src="<%= product.image %>" alt="product image" width="100px">

    <form action="/charge" method="post">
        <input type="hidden" name="product" value="Product name">
        <input type="hidden" name="price" value="10">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<your-publishable-key>" data-amount="1000" data-name="Product name" data-description="Product description" data-image="<your-logo-image>" data-currency="usd" data-email="<user-email>" data-locale="auto"></script>
    </form>

</body>

</html>